@model Waltrack.Models.LoginViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Login";
}

<div class="auth-header">
    <i class="fa-solid fa-wallet fa-2x mb-3"></i>
    <h2>Welcome Back!</h2>
</div>

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="name@example.com" />
        <label asp-for="Email">Email address</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 password-container">
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
        <label asp-for="Password">Password</label>
        <i class="fa-solid fa-eye toggle-password"></i>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check mb-4">
        <input class="form-check-input" asp-for="RememberMe" />
        <label class="form-check-label" asp-for="RememberMe">
            @Html.DisplayNameFor(m => m.RememberMe)
        </label>
    </div>
    <button type="submit" class="btn btn-submit">Login</button>
</form>

<div class="auth-footer">
    <p>Don't have an account? <a asp-action="Register">Sign Up</a></p>
</div>